@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sfpro-display-regular';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/SF-Pro-Display-Regular.woff') format('woff2');
}
@font-face {
  font-family: 'sfpro-display-bold';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/SF-Pro-Display-bold.woff') format('woff2');
}
